name: Build, Push Docker Image, and Deploy

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/airline-order-manage:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/airline-order-manage:${{ github.sha }}

      # - name: Deploy to EC2
      #   uses: appleboy/ssh-action@v1
      #   with:
      #     host: ${{ secrets.EC2_HOST }}
      #     username: ${{ secrets.EC2_USERNAME }}
      #     key: ${{ secrets.SSH_PRIVATE_KEY }}
      #     script: |
      #       cd ~/airline-cicd
      #       docker-compose pull
      #       docker-compose up -d --remove-orphans
      #       docker image prune -f
      - name: Deploy to Huawei ECS
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HUAWEI_ECS_HOST }} # 华为云ECS的弹性公网IP
          username: ${{ secrets.HUAWEI_ECS_USERNAME }} # 华为ECS登录用户名
          key: ${{ secrets.HUAWEI_SSH_PRIVATE_KEY }} # 华为ECS对应的SSH私钥
          debug: true # 开启调试模式
          script: |
            echo "登录成功"
            cd ~/airline-cicd 
            docker-compose pull
            docker-compose up -d --remove-orphans
            docker image prune -f
